<div id = "register">
    <form [formGroup]="regForm" (ngSubmit)="regIn()">
		<h2 class="text-center">Registracija</h2>   
        
		<div class="form-group">
			<label for="email">Email: </label>
            <input type="text" class="form-control" id="email"  placeholder="email" formControlName="email">
			<small class="text-danger" 
				*ngIf="regForm.controls.email.touched && regForm.controls.email.errors?.required">
				Morate uneti email</small>
			<small class="text-danger" 
				*ngIf="regForm.controls.email.touched && regForm.controls.email.errors?.email">
				Email nije validan</small>
        </div>
		<!--
        <div class="form-group">
			<label for="username">Username: </label>
            <input type="text" class="form-control" id="username"  placeholder="username" formControlName="username">
			<small class="text-danger" 
				*ngIf="regForm.controls.username.touched && regForm.controls.username.errors?.required">
				Username is required</small>
		</div>-->
		<div class="form-group" id = "vrsta">
			<div class = "celija">
				<label for="ime">Ime: </label>
                <input type="text" class="form-control" id="Name"  placeholder="Ime" formControlName="ime">
                <small class="text-danger" 
                    *ngIf="regForm.controls.ime.touched && regForm.controls.ime.errors?.required">
                    Morate uneti ime</small>
   			</div>
   			<div class = "celija">
   				<label for="prezime">Prezime: </label>
                   <input type="text" class="form-control" id="Surname"  placeholder="Prezime" formControlName="prezime">
                   <small class="text-danger" 
                       *ngIf="regForm.controls.prezime.touched && regForm.controls.prezime.errors?.required">
                       Morate uneti prezime</small>
    		</div>
        </div>
        <div class="form-group">
			<label for="password">Šifra: </label>
            <input type="password" class="form-control" id="password" placeholder="šifra" formControlName="password">
			<small class="text-danger" 
				*ngIf="regForm.controls.password.touched && regForm.controls.password.errors?.required">
				Morate uneti šifru</small>
			<small class="text-danger" 
				*ngIf="regForm.controls.password.touched && regForm.controls.password.errors?.minlength">
				Šifra mora imati bar 6 karaktera</small>
		</div>
        <div class="form-group">
    		<button type="submit" id="register-button" class="btn btn-primary btn-block" [disabled]="regForm.invalid">Registrujte se</button>
        </div>
        <a routerLink="/login" id="registration-link" class="btn btn-link">Imate nalog? Prijavite se</a>
		
    </form>
</div>
