<mat-toolbar color="primary">
    <button mat-mini-fab  (click)="goToHome()" id="home_btn">
      <mat-icon>home</mat-icon>
    </button>
    <span class="lilspace"></span>
    <span>Sajt organa vlasti</span>
    <div *ngIf="getRole()==='ROLE_GRADJANIN'">
      <button mat-raised-button color="accent" id="chose-button" (click)="kreirajZahtev()">Kreiraj zahtev</button>
      <button mat-raised-button color="accent" id="chse-button" (click)="zahtevi()">Zahtevi</button>
      <button mat-raised-button color="accent" id="choose-button" (click)="obavestenja()">Obavestenja</button>
    </div>
    <span class="bigspace"></span>
    <div *ngIf="getRole()===undefined">
      <button mat-raised-button color="accent" id="signin-button" (click)="goToLogIn()">Prijava</button>
      <span class="lilspace"></span>
      <button mat-raised-button color="accent" id="signup-button" (click)="goToRegistration()">Registracija</button>
    </div>
    <div *ngIf="getRole()!==undefined">
      <button mat-raised-button color="accent" id="signout-button" (click)="logOut()">Odjavi se</button>
    </div>
  
  </mat-toolbar>
