<mat-toolbar color="primary">
    <button mat-mini-fab  (click)="goToHome()" id="home_btn">
      <mat-icon>home</mat-icon>
    </button>
    <span class="lilspace"></span>
    <span *ngIf="getRole()!==undefined">Sajt poverenika</span>
    <div *ngIf="getRole()==='ROLE_GRADJANIN'">
      <button mat-raised-button color="accent" id="chose-button" (click)="kreirajZalbaCutanje()">Kreiraj Zalbu(cutanje)</button>
      <button mat-raised-button color="accent" id="choose-button" (click)="kreirajZalbaOdbijen()">Kreiraj Zalbu(odbijen)</button>
      <button mat-raised-button color="accent" id="chse-button" (click)="zalbeCutanjeGradjanin()">Zalbe cutanje</button>
      <button mat-raised-button color="accent" id="chose-button" (click)="zalbeOdbijeniceGradjanin()">Zalbe odbijene</button>
      <button mat-raised-button color="accent" id="choose-button" (click)="resenjaGradjanin()">Resenja</button>
    </div>
    <div *ngIf="getRole()==='ROLE_POVERENIK'">
      <button mat-raised-button color="accent" id="chse-button" (click)="zalbeCutanjePoverenik()">Zalbe cutanje</button>
      <button mat-raised-button color="accent" id="chose-button" (click)="zalbeOdbijenicePoverenik()">Zalbe odbijene</button>
      <button mat-raised-button color="accent" id="choose-button" (click)="resenjaPoverenik()">Resenja</button>
      <button mat-raised-button color="accent" id="choose-button" (click)="izvestajiPoverenik()">Izvestaji</button>
    </div>
    <span class="bigspace"></span>
    <div *ngIf="getRole()===undefined">
      <button mat-raised-button color="accent" id="signin-button" (click)="goToLogIn()">Login</button>
      <span class="lilspace"></span>
      <button mat-raised-button color="accent" id="signup-button" (click)="goToRegistration()">Register</button>
    </div>
    <div *ngIf="getRole()!==undefined">
      <button mat-raised-button color="accent" id="signout-button" (click)="logOut()">Log out</button>
    </div>

  </mat-toolbar>
