<div id = "login">
    <form [formGroup]="logForm" (ngSubmit)="logIn()">
		<div class="form-group">
			<input type="text" class="form-control" id="email"  placeholder="email" formControlName="email">
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.required">
				Morate uneti email</small>
			
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.email">
				Email nije validan</small>
		</div>
		<div class="form-group">
			<input type="password" class="form-control"  id="password" placeholder="šifra" formControlName="password">
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.required">
				Morate uneti šifru</small>
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.minlength">
				Šifra je prekratka</small>
		</div>
		<div class="form-group">
    		<button id="login-button" type="submit" class="btn btn-primary btn-block" [disabled]="logForm.invalid">Prijavite se</button>
		</div>
		<div>
			<!--<a routerLink="/forgotten-password" id="forgottenpassw-link" class="btn btn-link">Forgot Password?</a>-->
    		<a routerLink="/registration" id="registration-link" class="btn btn-link">Nemate nalog? Kreirajte ga!</a>
		</div>
    </form>
</div>